body {
    overflow-x: hidden;
}

#loadingButton {
    display: none;
    cursor: default;
}

#profile-picture {
    width: 150px;
}

@media (min-width: 768px) {
    #profile-picture {
        width: 200px;
    }
}

<<<<<<< HEAD
#more-info-box{
    transition: background-color 1s ease-in-out;
    transition-delay: 0s;
    border-radius: 40px;
}
#more-info-button{
    cursor: pointer;
}


=======
.filterDiv {
    display: none;
}

.show {
    display: block;
}

.post-thumbnail {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
    overflow: hidden;
}

.post-img-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: 0.3s;
}

.post-thumbnail:hover .post-img-cover {
    opacity: 1;
}

.caption-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
>>>>>>> b983c4749098ca06a73ffb68c12fa4e6d4e7a846
