body {
    overflow-x: hidden;
}

#loadingButton {
    display: none;
    cursor: default;
}

@media (min-width: 576px) {
    .card-container {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .card-container {
        width: 33.3%;
    }
}
