{% extends "base.html" %}

{% block title %}
IGSort
{% endblock title %}

{% block body %}
  
<div class="row">
  
</div>

<div class="row">
    
    <div class="form-container container mt-5 d-flex justify-content-center">
      <form class="col-lg-6 col-md-8 col-sm-10 col-xs-12 shadow p-3 mb-5 bg-white rounded">
        <div class="form-group">
          <label for="analyzeFormUsernameInput">Username</label>
          <input type="text" class="form-control" id="anayzeFormUsernameInput" placeholder="Enter username...">
        </div>
        <div class="form-group">
          <label for="analyzeFormNumberInput">Number of posts</label>
          <input type="number" class="form-control" id="analyzeFormNumberInput" placeholder="Enter number...">
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
      </form>
    </div>
    
  </div>  

<!-- <div class="container-fluid p-0">   

      <div class="d-flex justify-content-center text-center p-5 search-bg">
        <div class="search-container">
          <h2 class="mb-4 font-weight-bold">Analyze Account</h2>
          <div class="input-group">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter username..." aria-label="Username input" aria-describedby="Username input">
            <div class="input-group-append">
              <button class="btn btn-success" type="button">Get Posts </span></button>
            </div>
          </div>
        </div>

      </div>
  
  </div> -->
    
{% endblock body %}